@CHARSET "UTF-8";

#wdsb-share-box {
	background-color: #ECF6F9;
	width: 55px;
	padding: 0 15px 0 20px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	display: none;
}

#wdsb-share-box ul, #wdsb-share-box ul li {
	margin: 0 !important; padding: 0 !important;
	list-style-type: none !important;
}

/*** Inline ***/
#wdsb-share-box.wdqs-inline {
	position: static !important;
	width: 100%;
	display: block;
	height: 65px;
}
#wdsb-share-box.wdqs-inline ul { 
	clear: both;
}
#wdsb-share-box.wdqs-inline ul li {
	float: left;
	margin-right: 10px;
	list-style-type: none !important;
}

/* victor added styles */
#wdsb-share-box ul li { display: block; }
.wdsb-item { margin:15px auto; text-align: center; }
#wdsb-service-linkedin { height: 62px; width: 60px; } 

/* Text message */
#wdsb-share-box .wdsb-text_message {
	display: none;
}
#wdsb-share-box.wdqs-inline .wdsb-text_message {
	display: none !important; /* This is so inlined box auto-hides the text message */
}
#wdsb-share-box.wdsb-has_message {
	width: 80px;
	background-color: transparent;
}

#wdsb-share-box.wdsb-has_message ul { 
	padding: 10px!important; 
	background-color: #ECF6F9; 
}

#wdsb-share-box.wdsb-has_message .wdsb-text_message {
	text-transform: uppercase;
	text-align: center;
	color: #6386a6;
	-moz-transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
	-o-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	trasform:rotate(-90deg);
	position: absolute;
	right: 100%;
	top: 0;
	white-space: nowrap;
}