#wdsb-share-box {
	background-color: #ECF6F9;
	min-width: 55px;
	padding: 0 15px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	display: none;
	box-sizing: content-box;
}
#wdsb-share-box iframe {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}
#wdsb-share-box ul {
	display: table;
}
#wdsb-share-box ul,
#wdsb-share-box ul li {
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none !important;
}
#wdsb-share-box.wdqs-inline {
	position: static !important;
	width: 100%;
	display: block;
	min-height: 65px;
}
#wdsb-share-box.wdqs-inline ul {
	clear: both;
}
#wdsb-share-box.wdqs-inline ul li {
	float: left;
	margin-right: 10px !important;
	list-style-type: none !important;
}
#wdsb-share-box ul li {
	display: block;
}
.wdsb-item {
	margin: 15px auto;
	text-align: center;
	display: table;
}
.wdsb-item img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: auto;
}
#wdsb-service-linkedin {
	height: 62px;
	width: 60px;
}
#wdsb-share-box .wdsb-text_message {
	display: none;
}
#wdsb-share-box.wdqs-inline .wdsb-text_message {
	display: none !important; /* This is so inlined box auto-hides the text message */
}
#wdsb-share-box.wdsb-has_message {
	width: 80px;
	background-color: transparent;
}
#wdsb-share-box.wdsb-has_message ul {
	padding: 10px !important;
	background-color: #ECF6F9;
}
#wdsb-share-box.wdsb-has_message .wdsb-text_message {
	text-transform: uppercase;
	text-align: center;
	color: #6386a6;
	-moz-transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
	-o-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	right: 100%;
	top: 0;
	white-space: nowrap;
}
#wdsb-service-pinterest,
#wdsb-service-pin_any {
	margin-top: 41px;
}
